# First Program

In [1]:
p = int(input("\n Enter the principal Amount:"))
t = int(input("\n Enter the time period:"))
r = float(input("\n Enter the rate of interest:"))
si = p*t*r/100
print("\n Simple Interest:",si)

 Enter the principal Amount:5000

 Enter the time period:24

 Enter the rate of interest:9.2

 Simple Interest: 11040.0

# Output using Print

In [2]:
print('''This sentence is output to the screen''')
a=8
print("The value of a is:",a)
print('x:',1,2,3,4)
x = 16 ; y = 12
print('The value of x is {} and y is {}'.format(x,y))
print('I love {0} and {1}'.format('bread','butter'))
print('I love {1} and {0}'.format('bread','butter'))

This sentence is output to the screen
The value of a is: 8
x: 1 2 3 4
The value of x is 16 and y is 12
I love bread and butter
I love butter and bread

In [3]:
print('Hello {name}, {greeting}'.format(greeting = 'Good Morning!!',\
                                        name = 'Milind'))

Hello Milind, Good Morning!!

In [4]:
x = 42.6372819
print('The value of x is %3.2f' %x)
print('The value of x is %3.4f' %x)

The value of x is 42.64
The value of x is 42.6373

In [5]:
for x in range(1, 11):
     print('{0:2d} {1:3d} {2:4d}'.format(x, x*x, x*x*x))

 1   1    1
 2   4    8
 3   9   27
 4  16   64
 5  25  125
 6  36  216
 7  49  343
 8  64  512
 9  81  729
10 100 1000

In [6]:
table = {'Aravind': 9995682183, 'Milind': 9037272734, 'Akshay': 9847001327}
for name, phone in table.items():
     print('{0:10} ==> {1:10d}'.format(name, phone))

Aravind    ==> 9995682183
Milind     ==> 9037272734
Akshay     ==> 9847001327

In [7]:
import math
print('The value of PI is approximately %5.3f.' % math.pi)

The value of PI is approximately 3.142.

# 1.1 Input using input

In [8]:
x = input('Enter a string: ')
print("The entered string is :{0}".format(x))
y = int(input('Enter a integer: '))
print("The entered integer is :",y)
z = float(input('Enter a floating point number:'))
print("The entered real number  is :",z)

Enter a string: Mili
The entered string is :Mili
Enter a integer: 16
The entered integer is : 16
Enter a floating point number:2.2
The entered real number  is : 2.2

# 1.2 Mutiline Statements

In [9]:
x = ('2' + '2' +
     '0' + '1')
y = '2' + '0' + \
'05' + '99'
weekdays = ['Monday', 'Tuesday', 'Wednesday',
'Thursday', 'Friday']
weekday = {'3':
           'Wednesday'}
print ('x has a value of', x)
print ('y has a value of', y)
print(weekdays)
print(weekday)

x has a value of 2201
y has a value of 200599
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
{'3': 'Wednesday'}

In [10]:
import os; x = 'Hello'; print(x)

Hello

# 2.0 Conditional Execution

## Example code for a simple ‘if’ statement

In [11]:
var = 1
if var < 0:
    print("the value of var is negative")
    print(var)
else:
    print("the value of var is positive")
    print(var)

the value of var is positive
1

In [12]:
var = -1
if var < 0:
    print(var)
    print("the value of var is negative")
if ( var == -1 ) : 
    print("the value of var is negative")

-1
the value of var is negative
the value of var is negative

In [13]:
score = 78
if score >= 99:
    print('A')
elif score >=75:
    print('B')
elif score >= 60:
    print('C')
elif score >= 35:
    print('D')
else:
    print('F')

B

# 3.0 Iterations

## Usage of For Loop

In [15]:
print("First Example")
for item in [1,2,3,4,5]:
    print('item :', item)
print("Second Example")
letters = ['M', 'i', 'l']
for index in range(len(letters)):
    print('First loop letter :', letters[index])

First Example
item : 1
item : 2
item : 3
item : 4
item : 5
Second Example
First loop letter : M
First loop letter : i
First loop letter : l

# 4.1 LISTS

In [16]:
list_1 = ['Statistics', 'Programming', 2016, 2017, 2018]
list_2 = ['a', 'b', 1, 2, 3, 4, 5, 6, 7 ]
print("list_1[0]: ", list_1[0])
print("list2_[1:5]: ", list_2[1:5])

list_1[0]:  Statistics
list2_[1:5]:  ['b', 1, 2, 3]

In [17]:
print("list_1 values: ", list_1)
list_1.append(2019)
print("list_1 values post append: ", list_1)

list_1 values:  ['Statistics', 'Programming', 2016, 2017, 2018]
list_1 values post append:  ['Statistics', 'Programming', 2016, 2017, 2018, 2019]

In [18]:
Tuple = ('a','b','c','d',1,2,3)
print("Length of Tuple: ", len(Tuple))
Tuple_Concat = Tuple + (7,8,9)
print("Concatinated Tuple: ", Tuple_Concat)

print("Repetition: ", (1,'a',2, 'b') * 3)
print("Membership check: ", 3 in (1,2,3))
for x in (1, 2, 3): print(x)
print("Negative sign will retrieve item from right: ", Tuple_Concat[-2])
print("Sliced Tuple [2:] ", Tuple_Concat[2:])
print("Max of the Tuple (1,2,3,4,5,6,7,8,9,10): ",
max((1,2,3,4,5,6,7,8,9,10)))
print("Min of the Tuple (1,2,3,4,5,6,7,8,9,10): ",
min((1,2,3,4,5,6,7,8,9,10)))
print("List [1,2,3,4] converted to tuple: ", type(tuple([1,2,3,4])))

Length of Tuple:  7
Concatinated Tuple:  ('a', 'b', 'c', 'd', 1, 2, 3, 7, 8, 9)
Repetition:  (1, 'a', 2, 'b', 1, 'a', 2, 'b', 1, 'a', 2, 'b')
Membership check:  True
1
2
3
Negative sign will retrieve item from right:  8
Sliced Tuple [2:]  ('c', 'd', 1, 2, 3, 7, 8, 9)
Max of the Tuple (1,2,3,4,5,6,7,8,9,10):  10
Min of the Tuple (1,2,3,4,5,6,7,8,9,10):  1
List [1,2,3,4] converted to tuple:  <class 'tuple'>

# 4.3 Dictionary

In [19]:
dict = {'Name': 'Mili', 'Age': 21, 'Class': 'B.E 4th Year'}
print("Sample dictionary: ", dict)

Sample dictionary:  {'Name': 'Mili', 'Age': 21, 'Class': 'B.E 4th Year'}

In [20]:
print("Value of key Name, from sample dictionary:", dict['Name'])

Value of key Name, from sample dictionary: Mili

In [21]:
dict0 = {'Name': 'Milind', 'Age': 21, 'Class': 'B.E 4th Year'}
print("Sample dictionary: ", dict0)
k=1
for i in dict0:
    print(k,i,dict0[i])
    k=k+1
del (dict0['Name'])

print("Sample dictionary post deletion of item Name:", dict0)

dict0 = {'Name': 'Milind', 'Age': 21, 'Class': 'B.E 4th Year'}
dict0.clear()
print("dict post dict.clear():", dict0)

dict = {'Name': 'Milind', 'Age': 21, 'Class': 'B.E 4th Year'}
del (dict0)

Sample dictionary:  {'Name': 'Milind', 'Age': 21, 'Class': 'B.E 4th Year'}
1 Name Milind
2 Age 21
3 Class B.E 4th Year
Sample dictionary post deletion of item Name: {'Age': 21, 'Class': 'B.E 4th Year'}
dict post dict.clear(): {}

In [22]:
dict = {'Name': 'Milind', 'Age': 21, 'Class': 'B.E 4th Year'}
print("Sample dictionary: ", dict)
dict['Age'] = 22
print("Dictionary post age value update: ", dict)

Sample dictionary:  {'Name': 'Milind', 'Age': 21, 'Class': 'B.E 4th Year'}
Dictionary post age value update:  {'Name': 'Milind', 'Age': 22, 'Class': 'B.E 4th Year'}

In [24]:
dict = {'Name': 'Milind', 'Age': 21, 'Class': 'B.E 4th Year'}
print("Length of dict: ", len(dict))

dict1 = dict.copy()
print("Copy:\n",dict1)
print("Value for Age: ", dict.get('Age'))
print("dict items: ", dict.items())
print("dict keys: ", dict.keys())
print("Value of dict: ", dict.values())

dict1 = {'Name': 'Milind', 'Age': 21}
dict2 = {'Sex': 'male' }
dict1.update(dict2)
print("dict1.update(dict2) = ", dict1)

Length of dict:  3
Copy:
 {'Name': 'Milind', 'Age': 21, 'Class': 'B.E 4th Year'}
Value for Age:  21
dict items:  dict_items([('Name', 'Milind'), ('Age', 21), ('Class', 'B.E 4th Year')])
dict keys:  dict_keys(['Name', 'Age', 'Class'])
Value of dict:  dict_values(['Milind', 21, 'B.E 4th Year'])
dict1.update(dict2) =  {'Name': 'Milind', 'Age': 21, 'Sex': 'male'}

# 5.0 User-Defined Functions

In [25]:
def someFunction():
    print("Hello Mili....")
someFunction()

Hello Mili....

In [26]:
def sum_two_numbers(x, y):
        return x + y
print(sum_two_numbers(20,2))

22

In [27]:
x = 16
def sum_two_numbers(y):
    return x + y
print(sum_two_numbers(10))

26

In [28]:
def sample_function(*args):
    for a in args:
        print(a)
sample_function(20,5,99)

20
5
99

In [29]:
def sample_function(**args):
    for a in args:
        print(a, args[a])
sample_function(name='Mili', age=21)

name Mili
age 21

In [30]:
def add(x, y): 
    return x + y
print("FUNCTION ADD:\n",add(20,2))
add = lambda x, y : x + y 
print("LAMBDA ADD :\n",add(20,2))

FUNCTION ADD:
 22
LAMBDA ADD :
 22